Repository fusioninventory/fusioninventory-agent, pull requests merged in 2019-10, with the labels that each got.

#721 Feature/macosx updates
  Changes
  Makefile.PL
  lib/FusionInventory/Agent/Task/Inventory/Generic/Screen.pm
  lib/FusionInventory/Agent/Task/Inventory/MacOS/Bios.pm
  lib/FusionInventory/Agent/Task/Inventory/MacOS/Storages.pm
  lib/FusionInventory/Agent/Task/Inventory/MacOS/USB.pm
  lib/FusionInventory/Agent/Task/Inventory/MacOS/Videos.pm
  lib/FusionInventory/Agent/Tools/License.pm
  lib/FusionInventory/Agent/Tools/MacOS.pm
  lib/FusionInventory/Agent/Tools/Screen/Samsung.pm
  t/agent/tools/macos.t
  t/tasks/inventory/macos/storages.t
  t/tasks/inventory/macos/videos.t
Labels: Inventory-task, macosx

#702 fix hyperv host filtering
  lib/FusionInventory/Agent/Task/Inventory/Virtualization/HyperV.pm
  resources/win32/wmi/unknown-MSVM_ComputerSystem.wmi
  t/tasks/inventory/virtualization/hyperv.t
Labels: Inventory-task, win32

#708 Add Tagged VLAN, work at least with HPE Switch
  lib/FusionInventory/Agent/Tools/Hardware.pm
  lib/FusionInventory/Agent/Tools/SNMP.pm
  resources/walks/sample4.result
Labels: NetInventory-task

#712 Megacli
  lib/FusionInventory/Agent/Task/Inventory/Linux/Storages/Megacli.pm
  resources/linux/megacli/set4_EncInfo
  resources/linux/megacli/set4_PDlist
  resources/linux/megacli/set4_ShowSummary
  t/tasks/inventory/linux/storages/megacli.t
Labels: Inventory-task

#713 Modified Qlogic module to get device serial number
  lib/FusionInventory/Agent/Tools/Hardware/Qlogic.pm
Labels: NetInventory-task

#714 Added macvlan/docker interfaces
  lib/FusionInventory/Agent/Task/Inventory/Linux/Networks/DockerMacvlan.pm
  resources/linux/docker/docker-network-inspect
  resources/linux/docker/docker-network-ls
  t/tasks/inventory/linux/networks/dockermacvlan.t
Labels: Inventory-task

#730 Added StormShield Mib-Support
  lib/FusionInventory/Agent/SNMP/MibSupport/FreeBSD.pm
Labels: NetDiscovery-task, NetInventory-task

#715 Fix : Office Licence
  lib/FusionInventory/Agent/Task/Inventory/Win32/License.pm
  t/tasks/inventory/windows/license.t
Labels: Inventory-task, win32
